.temperatureContainer {
    width: 85%;
    height: 15vh;
    border-radius: 10px;
    background-color: var(--temperatureBackground);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.temperatureContent {
    width: 60%;
    height: 50%;
    display: flex;
    align-items: center;
    color: var(--myWhiteColor);
    justify-content: space-between;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
}

.temperatureIcon {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 100;
}

.temperatureContainer .temperatureLiquid {
    position: absolute;
    left: 0;
    top: -80px;
    width: 350px;
    height: 350px;
    background: rgb(70, 141, 189);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.temperatureContainer .temperatureLiquid::before,
.temperatureContainer .temperatureLiquid::after {
    content: '';
    position: absolute;
    width: 170%;
    height: 170%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

.temperatureContainer .temperatureLiquid::before {
    border-radius: 45%;
    background: rgb(20, 20, 20);
    animation: animate 5s linear infinite;
}

.temperatureContainer .temperatureLiquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.5);
    animation: animate 10s linear infinite;
}

.weatherFrame {
    z-index: 9999;
}

.mapouter{position:relative;text-align:right;height:85%;width: 90%; display: flex; justify-content: center;
align-items: center;}
.gmap_canvas {overflow:hidden;background:none!important;height:400px;width: 97%; border-radius: 10px; margin-top: 10px;}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg)
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg)
    }
}

@media screen and (min-width: 393px) {
    .temperatureContainer .temperatureLiquid {
        width: 400px;
    }

    .weatherContent {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 350px) {
    .weatherContent {
        font-size: 1em;
    }
    .temperatureIcon {
        width: 50px;
        height: 50px;
    }
    .mapouter{height:250px;width:80%;}
    .gmap_canvas {height:250px;width:100%;}
}