.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2ch;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: relative;
    height: 75vh;
    padding: 1rem;
    overflow: auto;
}

@media screen and (max-height: 430px) {
    .container {
        display: none;
    }
} 